body{
    background-color: white;
}
h1{
    margin: 5px;
}

.cabecalho_container{
    align-items: center;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    
    
}

.cabecalho_container ul{
    display: flex;
    gap: 15px;
}

.cabecalho_container li{
    display: flex;
    gap: 5px;
    list-style: none;
}

.list_container img{
    width: 20px;
    height: 20px;
}

.seccao1_container{
    margin-top: 80px;
    display: column;
    width: 500px;
    justify-items: center;
    text-align: center;
}

.seccao1_container button{
    background-color: darkgrey;
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 25px;
}


@media screen and (max-width: 666px) {
    .cabecalho_container ul{
        display: none;
    }

}